@import "variables";

.bg-danger {
  background: $danger;
}

.bg-dark-transparent {
  background: $dark-transparent;
}

.text-gray-2 {
  color: $gray-2;
}

.text-gray-1 {
  color: $gray-1;
}

a {
  &.text-gray-1 {
    &:hover {
      color: $dark;
    }
  }
}

.bg-dark {
  a {
    &.text-gray-1 {
      &:hover {
        color: $white;
      }
    }
  }
}

.text-dark {
  color: $dark!important;

  &:hover {
    color: $danger!important;
  }
}

img {
  &.dark-image-50 {
    display: block;
    filter: brightness(50%);
  }
  &.dark-image-25 {
    display: block;
    filter: brightness(75%);
  }

  &.dark-image-75 {
    display: block;
    filter: brightness(25%);
  }
}
