@import "resources/sass/user/variables";
.order-create-page {
  padding-bottom: 30px;

  .title {
    font-weight: bold;
    color: #2D3134;
  }

  select.form-control, .form-outline {
    span.required {
      color: #ff5200;
    }

    label.form-label {
      color: #4F545B;
    }
  }

  .choosable-field {
    border: 2px solid $gray;
    border-radius: 10px;
    padding: 1.5em;
    cursor: pointer;

    .title {
      font-weight: bold;
      color: #2D3134;
      font-size: 1.2em;
    }

    .description {
      font-size: .9em;
      color: $gray-1;
    }

    .price {
      font-weight: bold;
      font-size: 1.2em;
    }

    &.active {
      background: #fff;
      border-color: $dark;

      .description {
        //font-size: 1em;
      }
    }
  }

  .order-results {
    border: 1px solid #4F545B;
    border-radius: 10px;
    padding: .5em 1em;

    .row .col-12 {
      display: flex;
      justify-content: space-between;
      padding: 0.3em .5em;
      font-weight: 500;
    }
  }

  .complete {
    width: 100%;
    font-weight: 600;
    font-size: .8em;
    padding: 1em;
  }

  .form-outline {
    line-height: 3em;

    .form-control {
      line-height: 3em;

      &:focus ~ .form-notch {

        .form-notch-leading, .form-notch-middle, .form-notch-trailing {
          border-color: $dark !important;
        }

      }

      &:focus ~ .form-label,
      &.active ~ .form-label {
        transform: translateY(-1.4rem) scale(0.8);
      }

    }
  }
}
