@import "resources/sass/user/variables";

$left-menu-bg: $dark;
$left-menu-item-color: $white;
$left-menu-content-bg: $white;
$left-menu-content-color: $dark;
$left-menu-content-checked-border-color: $left-menu-content-bg;
$left-menu-label-contents: $danger;
$left-menu-items-hover-color: $danger;
$left-menu-item-border-color: $danger;

$toggle-bg: $white;
$toggle-open: $danger;
