@import "colors";
@import "navbar-toggler";
@import "left-menu";

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  .logo {
    height: 36px;
  }

  #sub-header {
    height: 50px;
  }

  .nav-item {
    display: flex;
    align-self: center;
    margin: 0 0.5em;
    font-size: .8em;

    @include respond-to(md) {
      font-size: 1em;
    }

    #cartDropdown {
      font-size: 1.1em!important;

      @include respond-to(md) {
        font-size: 1em!important;
      }
    }

    &#search-nav-item {
      position: unset;

      .dropdown-menu {
        left: 0;
        width: 100vw;
        padding: 0!important;
        top: 60px;

        .dropdown-item {
          padding: 0;
          height: 68px;

          input {
            border-radius: 0;
            border: 0;
            height: 100%;
            padding-left: 15px;

            &:focus {
              outline: none;
            }
          }

          .btn {
            font-size: 1em;
          }
        }
      }
    }
  }

  .divider {
    display: flex;
    align-self: center;
    border-left: 1px solid $gray-2;
    height: 30px;
    margin: 0 0.5em;
  }

  #sub-header {
    .nav-item {
      position: inherit!important;
    }
  }

  #sub-header, #main-menu {
    .nav-item > a {
      color: $white;
    }
  }

  #sub-menu
  {
    padding-bottom: 0;
    height: 100%;

    .navbar-nav {
      height: 100%;
      .nav-item {
        height: 100%;
      }
    }
  }
  #sub-header {

    .dropdown-menu {
      top: 59px;
      border-radius: 0;
      width: 100vw;
      height: calc(100vh - 76px - 52px);
      left: 0!important;

      a {
        &:hover {
          color: $danger;
        }
      }

      @include respond-to(lg) {
        width: 576px;
        height: auto;
        max-height: 300px;
        left: auto!important;
        transform: translate(-50%, 0) !important;
      }
    }

    .dropdown-toggle::after {
      content: none;
      display: none;
    }

    .nav-link {
      &.show {
        &:before {
          content: "";
          width: 30px;
          height: 30px;
          background: #fff;
          transform: rotate(45deg);
          position: absolute;
          bottom: -25px;
          margin-left: 20px;
        }
      }
    }
  }

  #main-menu {

    .product-name {
      font-size: .875em;

      @include respond-to(lg) {
        font-size: 1.2em;
      }
    }

    .product-price {
      font-size: 1.05rem;
    }

    form {
      .form-notch-trailing {
        border-radius: 0;
      }
    }

    .dropdown-menu {
      top: 48px;
      border-radius: 0;
      left: -20px;
      min-width: 6rem;

      &.full-width {
        overflow-y: auto;
        height: calc(100vh - 63px);
        width: 100vw;
        padding-bottom: 60px !important;
        min-width: auto;
        max-height: calc(100vh - 63px);

        @include respond-to(lg) {
          min-width: 656px;
          height: auto!important;
          width: auto!important;
          left: auto!important;
          max-height: 400px;
          padding-bottom: 1.5rem!important
        }
      }

      &.dropdown-menu-end {
        left: auto!important;
        right: -18px;
      }

      .dropdown-item {
        background: $white!important;
        color: $gray-1!important;

        &.active, &:hover, a:hover {
         color: $dark!important;
          background: $white!important;
        }
      }
    }

    .dropdown-toggle {

      &:after {
        font-family: "Font Awesome 5 Pro", serif;
        content: "\f078";
        border: none;
        text-align: center;
        display: flex;
        align-self: center;
        padding: 0 0 0 5px;
        margin: 0;
        color: #fff;
        font-size: .8em;
      }
    }


    .nav-link {
      text-decoration: none;
      font-weight: 400;
      color: $white;
      display: flex;

      > i {
        line-height: 1.6!important;
      }
      > .badge-notification {
        margin-left: 0.5rem;
        border: 1px solid $dark;
        color: $white!important;
      }

      &.show {
        &:before {
          content: "";
          width: 30px;
          height: 30px;
          background: #fff;
          transform: rotate(45deg);
          position: absolute;
          bottom: -40px;
          margin-left: 20px;
        }
      }

      &.nav-link-end {
        &.show {
          &:before {

            margin-left: -10px;
          }
        }
      }
    }
  }
}
