$bg-gradient-variant: false;
// Body
$body-bg: #F8F8F8;

// Typography
$font-family-sans-serif: "Circle", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000;
$red: #F33C3C;

$custom-black: #1D1E23;
