#nav-icon3 {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 5px 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  &.open span {
    background: red;
  }
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 7px;
}

#nav-icon3 span:nth-child(4) {
  top: 14px;
}

#nav-icon3.open span:nth-child(1) {
  top: 15px;
  width: 0;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}


/*
  Menu
*/

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


#navbarSupportedContent .collapse {
  display: none;
}

#navbarSupportedContent .collapseLink:hover {
  > .collapse {
     display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
}

@media (max-width: 768px) {
  nav.navbar ul.navbar-nav .dropdown-menu {
    width: 100vw!important;
    height: calc(100vh - 80px);
    right: 0;
    left: auto;
    min-width: 100vw!important;
    max-width: 100vw!important;
    overflow-y: auto;
    overflow-x: hidden;
  }
  nav.navbar ul.navbar-nav li[rel="profile"] {
    .dropdown-menu {
      width: unset !important;
      height: unset!important;
      right: auto;
      left: 0;
      min-width: unset !important;
      max-width: unset !important;
    }
    .dropdown-item {
      color: black!important;
    }
  }
}

#slide-menu {
  z-index: 100;
  background-color: $custom-black;
  position: fixed;
  left: -290px;
  display: block;
  float: left;
  width: 290px;
  height: calc(100vh - 49px);
}

.left-menu {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  width: 290px;
  top: 49px;
  bottom: 0;
  overflow: auto;
}

#slide-menu .accordion {
  color: #FFF;
  width: 100%;
  padding-left: 20px;
}
#slide-menu .accordion .section {
  width: 100%;
}
#slide-menu .accordion .section input[type='radio'] {
  display: none;
}
#slide-menu .accordion .section .content input[type='radio']:checked + label {
  background: white;
  color: red;
  border-bottom: 1px solid red;
}

#slide-menu .accordion .section .content ul li {
  border-bottom: 1px solid white;
  color: black;
  transition: .3s;
}

#slide-menu .accordion .section .content ul li:hover {
  border-bottom: 1px solid red;
  color: red;
}

#slide-menu .accordion .section input[type='radio']:checked + label .caret {
  transform: rotate(90deg);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
#slide-menu .accordion .section input[type='radio']:checked ~ .content {
  max-height: 300px;
  opacity: 1;
  z-index: 10;
}
#slide-menu .accordion .section input[type='radio']:checked ~ .content.hidden {
  max-height: 0;
}
#slide-menu .accordion .section label {
  position: relative;
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
  padding: 10px;
  white-space: nowrap;
  display: table;
  background: $custom-black;
  width: 100%;
  overflow: hidden;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  margin-bottom: 0!important;
}
#slide-menu .accordion .section .content label {
  background: white;
  color: black;
  transition: .3s;
  margin-bottom: 0;
}
//.accordion .section label:before {
//  content: " ";
//  width: 100%;
//  position: absolute;
//  left: 0;
//  top: 0;
//  height: 1px;
//}
#slide-menu .accordion .section label:hover {
  color: red;
  border-bottom: 1px solid red;
}
#slide-menu .accordion .section label span {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  display: block;
}
#slide-menu .accordion .section .content {
  max-height: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  position: relative;
  overflow-y: auto;
  background-color: white;
  color:black;
}

#slide-menu .accordion .section .content::-webkit-scrollbar {
  width: 10px;
  background: rgba(255,255,255,.7);
  border-radius: 16px;
}
#slide-menu .accordion .section .content::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: $custom-black;
}
#slide-menu .accordion .section .content::-webkit-scrollbar-track {
  border-radius: 16px;
  width: 3px;
}
.caret {
  position: absolute;
  right: 15px;
  top: 13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.left-menu a {
  color: inherit;
  text-decoration: none;
  display: block;
}
.left-menu::-webkit-scrollbar {
  width: 10px;
  background: rgba(255,255,255,.7);
  border-radius: 16px;
}
.left-menu::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #000;
}
.left-menu::-webkit-scrollbar-track {
  border-radius: 16px;
  width: 3px;
}

#slide-menu .accordion {
  font-size: 16px;
}
#slide-menu .accordion .section input[type='checkbox'] {
  display: none;
}
#slide-menu .accordion .section input[type='checkbox']:checked ~ .content {
  padding: 15px;
}

.left-menu ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.left-menu ul li {
  padding: 10px;
  border-bottom: 2px solid white
}
.left-menu ul li i {
  font-size: 13px;
  width: 15px;
  margin-right: 15px;
}
.left-menu ul li:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .left-menu {
    width: 100vw;
    left: -100vw;
  }
}

.c-red {
  color: $red!important;
}

body.menu-active #slide-menu {
  left: 0!important;
}

nav.navbar {
  position: fixed;
  z-index: 102;
  height: 50px;
  width: 100vw;
  top: 0;
  left: 0;
  color: white!important;
  background: $custom-black!important;
  ul.navbar-nav {
    width: 100%;
    //li[rel="city"] {
    //  margin-right: auto;
    //}
    li[rel="city"] {
      position: inherit;
      &.show {
        &::before, &::after {
        }
      }
      .dropdown-menu {
        top: 47px;
        left: 0;
        height: auto !important;
      }
    }
    li[rel="cart"] {
      &.show {
        &::before, &::after {
          content: '';
          position: absolute;
          left: 13px!important;
          top: 29px;
          border: 10px solid transparent;
          border-bottom: 10px solid white;
        }
      }
      .dropdown-menu {
        cursor: auto;
        right: -1rem !important;
        > .row {
          padding: 30px 0;
          border-bottom: 1px solid #CCCCCC;
          margin: 0;
          &:last-child {
            border-bottom: 0;
            padding-bottom: 10px;
            a {
              font-family: "Circe", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              border: 0;
              border-radius: 0;
              padding: 10px 20px;
            }
          }
        }
      }

    }
    li.nav-item {
      > a, > span > a {
        font-size: 14px;
        color: white;
      }
      &.active {
        color: white!important;
      }
      &.dropdown {
        cursor: pointer;
        border-top: 0;
        &.show {
          &::before, &::after {
            content: '';
            position: absolute;
            left: 130px;
            top: 30px;
            border: 10px solid transparent;
            border-bottom: 10px solid white;
          }
        }
        .dropdown-menu {
          padding: 10px;
          width: 100%;
          border: none !important;
          border-radius: 0 !important;
          min-width: 200px;
          max-width: 350px;
          .list-group {
            max-height: 150px;
            overflow-y: auto;
            margin-top: 10px;
            margin-bottom: 10px;

            a {
              font-size: 14px;
              padding: 0;
              padding-left: 5px;
              padding-top: 7px !important;
              padding-bottom: 7px;
              border-bottom: 1px solid #E5E5E5 !important;
              color: black !important;
              width: 95%;
              border-radius: 0;
            }

            /* width */
            &::-webkit-scrollbar {
              width: 5px;
              background: rgba(0, 0, 0, 0.19);
              border-radius: 16px
            }

            /* Track */
            &::-webkit-scrollbar-track {
              border-radius: 16px;
              width: 3px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
              border-radius: 16px;
              background-color: #000;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
              background-color: #000;
            }
          }

          a {
            font-weight: 500;
            border: none;
          }
        }
      }
    }
    li[rel="search-mobile"] {
      .dropdown-menu {
        right: 0 ;
        transform: translate(-30%, 0) !important;
        width: unset!important;
        top: 47px;
      }
      &.show {
        &::before, &::after {
          right: 80px;
          left: unset !important;
        }
      }
    }
    li[rel="profile-mobile"] {
      &.show {
        &::before, &::after {
          left: 16px !important;
          top: 30px !important;
        }
      }
    }
    li[rel="profile"] {
      &.show {
        &::before, &::after {
          left: 5px !important;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #nav-bar-category .nav-item .dropdown-menu{ display: none; }
  #nav-bar-category .nav-item:hover .dropdown-menu{ display: block; }
  li[rel="city"] {
    position: inherit;
    &.show {
      &::before, &::after {
      }
    }
    .dropdown-menu {
      top: 47px;
      left: auto !important;
      height: auto !important;
    }
  }
  li[rel="search-mobile"] {
    .dropdown-menu {
      right: 0 !important;
      transform: translate(-30%, 0) !important;
      width: unset!important;
      top: 47px;
    }
    &.show {
      &::before, &::after {
        right: 130px !important;
        left: unset !important;
      }
    }
  }
  nav.navbar ul.navbar-nav li[rel="cart"] .dropdown-menu {
    width: 516px !important;
    max-width: unset !important;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: auto;
    cursor: auto;
    padding: 10px 20px;
    left: calc(-516px + 2em + 2.5rem + 12px);
    /* width */
    &::-webkit-scrollbar {
      width: 10px;
      background: rgba(255, 255, 255, 0.9);
    }

    /* Track */
    &::-webkit-scrollbar-track {
      width: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: #000;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: #000;
    }
  }
  body.menu-active div#blur-for-menu {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

@media (max-width: 768px) {
  li[rel="cart"] {
    .dropdown-menu {
      width: 100vw!important;
      height: calc(100vh - 50px)!important;
      left: 0;
      overflow-y: auto;
    }
  }
  li[rel="profile"] {
    .dropdown-menu {
      width: unset !important;
      height: unset!important;
      right: auto;
      left: 0;
      min-width: unset !important;
      max-width: unset !important;
    }
    .dropdown-item {
      color: black!important;
    }
  }
  .dropdown-menu {
    width: 100vw;
  }
  body.menu-active {
    overflow: hidden;
  }
}

.material_input {
  position: relative;
  margin-bottom: 10px;
  margin-top: 15px;
  input {
    font-size: 12px;
    padding: 0 10px 0 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #000;
    border-radius: 0;
  }

  input:focus {
    outline:none;
  }

  label {
    color: #999;
    font-size: 12px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left: 10px;
    top: 0;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  input:focus ~ label, input:valid ~ label {
    font-size:12px;
    color:#000;
    top:-20px;
    left: 0;
  }
  .bar
  {
    position:relative;
    display:block;
    width: 100%;
  }

  .bar:before, .bar:after
  {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#000;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  .bar:before
  {
    left:50%;
  }

  .bar:after
  {
    right:50%;
  }

  input:focus ~ .bar:before, input:focus ~ .bar:after
  {
    width:50%;
  }

  .highlight
  {
    position:absolute;
    height: 60%;
    width: 150%;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }

  input:focus ~ .highlight
  {
    -webkit-animation:inputlighter 0.3s ease;
    -moz-animation:inputlighter 0.3s ease;
    animation:inputlighter 0.3s ease;
  }
}
@-webkit-keyframes inputlighter
{
  from
  {
    background:#000;
  }
  to
  {
    width:0; background:transparent;
  }
}

@-moz-keyframes inputlighter
{
  from
  {
    background:#000;
  }
  to
  {
    width:0; background:transparent;
  }
}
@keyframes inputlighter
{
  from
  {
    background:#3f51b5;
  }
  to
  {
    width:0; background:transparent;
  }
}

.cart-price {
  font-size: 20px;
  line-height: 29px;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

#city {
  i {
    font-size: 1.5em;
  }
}
.btn.btn-dark *{
  background-color: #000000 !important;
  color: white !important;
}
#counter {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #f33c3c;
  border: 0;
  text-align: center;
  span {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: -5px;
    width: 100%;
    height: 100%;
    font-size: 12px;
  }
}

#nav-profile {
  img {
    height: 35px;
    width: 35px;
    object-fit: cover;
    margin-top: 5px;
  }
}
.nav-link {
  display: flex!important;
}

footer {
  .container:first-child {
    font-size: 18px;
    a {
      color: white;
      &:hover {
        color: #F33C3C;
      }
    }
  }
}
.footer {
  margin-top: auto;
}

#top-drop-ul-brands {
  &::-webkit-scrollbar {
    width: 5px;
    background: rgba(0, 0, 0, 0.19);
    border-radius: 16px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 16px;
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: #000;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #000;
  }
}
