.owl-carousel .owl-item {
  min-height: 100% !important;
}

.owl-stage {
  display: flex !important;
  align-items: stretch !important;
}

.slick-prev:before, .slick-next:before {
  color: black!important;
}

.demo-image {
  cursor: url("../img/plus_cursor.png") 12.5 12.5, auto;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 10px;
}

.products-allsale-page button.btn-link:not(.collapsed) {
  background-color: #000000;
  color: white!important;
}
