@import "resources/sass/user/variables";
.breadcrumb {
  .breadcrumb-link {
    color: $dark!important;
    &:not(:last-child) {
      &:hover {
        color: $danger!important;
      }
      &:after {
        content: '/';
        margin: 0 5px;
      }
    }
  }
}

.item-page {
  min-height: calc(100vh - 480px - 175px);

  .slider {

    .slider-nav {
      overflow: hidden;

      @include respond-up(lg) {
        height: auto!important;
      }

      .scroll-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        transition-duration: .5s;

        overflow-y: auto;
        padding-bottom: 1em;

        @include respond-up(lg) {
          padding-bottom: 0;
          top: 0 !important;
        }
      }

      .item {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        margin-right: 15px;
        width: auto;

        @include respond-to(lg) {
          width: 100%;
          margin-bottom: 20px;
          margin-right: 0;
        }

        .img-wrapper {
          display: flex;
          justify-content: center;
          border-radius: 10px;
          cursor: pointer;

          img {
            border-radius: 0;
          }
        }
      }
    }

    .slider-for {
      margin-bottom: 1em;

      @include respond-to(lg) {
        margin-bottom: 0;
      }

      .img-wrapper {
        width: 100%;
        border-radius: 0;
        display: none;

        &.active {
          display: block;
          animation: fade-in .5s;
        }

        &:not(.active) {
          animation: fade-out .5s;
        }

        img {
          border-radius: 0;
        }

        @keyframes fade-in {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        @keyframes fade-out {
          from {
            opacity: 1;
          }
          to {
            opacity: 0;
          }
        }
      }
    }

    .hidden-overflow {
      overflow: hidden;
    }
  }

  .slider-button {
    border: none;
    background: transparent;
    color: $gray-1;

    i {
      font-size: 1.8em;
    }

    &#prev {
      i {
        margin-bottom: .3em;
      }
    }

    &#next {
      i {
        margin-top: .3em;
      }
    }
  }

  .btn-to-cart-show {
    font-size: 0.85rem;
    padding: 0.575rem 0.95rem;
    text-transform: none !important;
  }

  .prices-wrapper {
    .old-price {
      display: none;
      color: $gray-2;
      font-size: 1em;
      text-align: left;
      width: 100%;
      padding-left: 0.1em;
      text-decoration: line-through;
      margin-bottom: -0.3em;
    }

    .price {
      font-weight: 600;
      font-size: 1.6em;
      color: $dark;
    }

    &.sale {
      .old-price {
        display: block;
      }
    }
  }

  .description-wrapper {
    .title {
      font-weight: bold;
      font-size: 1.3em;
      margin-bottom: 15px;
      color: #2D3134;
    }

    .description {
      color: $gray-1;
      font-size: .9em;
    }
  }

  .item-details {
    .btn-to-cart {
      width: 100%;

      @include respond-to(sm) {
        width: auto;
      }
    }
  }

}
