.modal {
  padding-right: 0!important;
}

.modal-user {
  .modal-dialog {
    @media screen and (min-width: 650px) {
      width: 279px;
      height: 472px;
    }
  }
  h4 {
    font-size:18px !important;
  }
  .modal-content {
    border-radius: 0;
    position: relative;
    height: 407px;
    @media screen and (max-width: 650px) {
      margin: 0 auto;
      width:279px;
    }
    #modal-photo {
      min-height: 100%;
      width: 100%;
      object-fit: cover;
    }

    h4 {
      line-height: 1.5em;
      font-weight: 800;
    }
    .modal-description-text > * {
      color: $gray-1;
    }

    .btn-close {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}
