@import "resources/sass/user/variables";
#profile {
  .form-outline {
    .form-notch-leading {
      border-radius: .25rem 0 0 .25rem;
    }

    .form-notch-trailing {
      border-radius: 0 .25rem .25rem 0;
    }
  }
  form#form-photo {
    position: relative;
  }

  button#add-photo {
    border-radius: 6px;
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 1.3em;

    i {
      margin-top: 5px;
      margin-left: 1px;
    }
  }

  .nav-pills {
    .nav-link {
      display: flex;
      align-items: center;
      margin: 0;
      background: #f9f9f9;
      color: #2D3134;
      box-shadow: none;

      &.active {
        background: #fff;
        color: #1266f1;
      }
    }
  }

  .bg-gray {
    background: #f9f9f9;
  }

  .tab-content {
    height: 80vh;
    overflow: auto;

    @include respond-to(md) {
      height: auto;
    }
  }
}
